<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>سایت من با Flask</title>
    <style>
        body {
            font-family: "Vazirmatn", sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            padding-top: 100px;
        }
        h1 {
            color: #e91e63;
        }
        p {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>سلام آیدا 💖</h1>
    <p>به اولین صفحه‌ی Flask خودت خوش اومدی!</p>
</body>
</html>