<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>سایت من با Flask</title>
    <style>
        body {
            font-family: "Vazirmatn", sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            padding-top: 100px;
        }
        h1 {
            color: #e91e63;
        }
        p {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>سلام آیدا هستم 💖</h1>
    <p>به سایت رزومه‌ی من خوش آمدید!</p>

    <h2>رزومه:</h2>
    <ul id="resume"></ul>

    <script>
    fetch("/api/resume")
        .then(response => response.json())
        .then(data => {
            const resumeList = document.getElementById("resume");
            resumeList.innerHTML = `
                <li>ایمیل: ${data.email}</li>
                <li>تحصیلات:
                    <ul>
                        ${data.education.map(ed => `<li>${ed.degree} - ${ed.university} </li>`).join('')}
                    </ul>
                </li>
                <li>مهارت‌ها: ${data.skills.join(', ')}</li>

          `;
        });
    </script>
</body>
</html>